<div class="background">
  <div class="container">
      <div class="login-section">
          <img src="https://www.thesportsdb.com/images/media/team/badge/g5bhfy1721108205.png" alt="Club León" class="logo-small" />
          <div class="form-box login">
              <h2>Iniciar Sesión</h2>

              <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
                  <div class="input-box">
                      <input type="email" id="email" class="form-control" formControlName="email" required />
                      <label for="email">Email</label>
                      <span class="icon">
                          <i class="fas fa-envelope"></i>
                      </span>
                  </div>

                  <div class="input-box">
                      <input type="password" id="password" class="form-control" formControlName="password" required />
                      <label for="password">Password</label>
                      <span class="icon">
                          <i class="fas fa-lock"></i>
                      </span>
                  </div>

                  <button type="submit" class="btn">Iniciar Sesión</button>
              </form>
          </div>
      </div>
  </div>
</div>
